# Ambiente Virtual
.env
.env.*
venv/
.venv/
env/

# Credenciais e Segredos (Segurança Máxima)
credentials/
*.key
*.pem

# Python caches
__pycache__/
*.py[cod]
.pytest_cache/

# Logs Gerais e dbt
*.log
logs/
**/logs/

# dbt artefatos e configurações locais
invest_analytics/target/
invest_analytics/dbt_packages/
invest_analytics/dbt_modules/
invest_analytics/.user.yml

# Airflow
airflow/airflow.cfg
airflow/unittests.cfg
airflow/logs/
*.db

# Sistema
.DS_Store
Thumbs.db
